@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth
}
section {
  min-height: 100vh;
  /* padding: 2rem; */
}
h1:hover + .cursor {
  transform: scale(10);
}
.menu-fade {
  background: rgba(0,0,0,0.75);
}
.menu-shrink {
  transform: scale(0.85);
}
.menu-darken {
  background: rgba(0,0,0,0.95);
}
.text-shadow {
  text-shadow: 3px 3px 10px rgba(0,0,0,0.25);
}

/* HAMBURGER ICON*/
.burger-line {
  @apply absolute left-0 h-1 bg-white rounded-3xl origin-left shadow-lg transition-all duration-300 ease-in-out;
}
.middle { 
  top: calc(50% - 2px); 
  width: 100%;
}
.top { 
  top: 8px;
  width: 75%;
}
.bottom { 
  bottom: 8px; 
  width: 50%;
}
.hamburger.open .middle {
  opacity: 0;
  transform: translateX(50px);
}
.hamburger.open .top {
  width: 100%;
  transform:  translateY(-3px) rotate(45deg);
}
.hamburger.open .bottom {
  width: 100%;
  transform: translateY(5px) rotate(-45deg);
}

@media (max-width: 768px) {

  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: darkslategrey;
    display: none;
  }
  nav ul {
    flex-direction: column;
    justify-content: center;
    margin-top: 20%;
  }
  nav a {
    display: block;
    padding: 2rem 20%;
    font-size: 2.5rem;
    font-weight: normal;
  }
}

.wrapper {
  @apply min-h-screen w-10/12 py-32 mx-auto;
}

/* PROJECT SECTION */
.project-item {
  @apply h-96 border border-slate-700 relative overflow-hidden;
}
.project-front {
  @apply bg-slate-700 h-full w-full absolute translate-y-0 transition-all duration-500;
}
.project-back {
  @apply text-white bg-slate-500 h-full w-full absolute translate-y-full transition-all duration-500;
}
.project-item:hover > .project-front {
  transform: translateY(-75%);
  filter: blur(6px);
}
.project-item:hover > .project-back {
  transform: translateY(25%);
}


.about-box {
  @apply min-w-full h-auto shadow-md p-4;
}
.about-box i {
  @apply text-4xl text-center block;
}
.about-box h4 {
  @apply text-2xl text-center mb-2 font-semibold;
}
.about-box p {
 @apply text-gray-700;
}
.bio-pic {
  overflow: hidden;
  border-radius: 50%;
  box-shadow: inset 0px 0px 35px 40px rgba(0,0,0,0.5);
  background-image: url("images/profile_pic_two.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}
.tabs a {
  @apply bg-slate-600 text-center md:text-left text-xl py-2 px-4 block shadow-lg hover:bg-slate-700 hover:shadow-none transition duration-300;
}
.ui-state-active {
  color: skyblue;
  position: relative;
}
.ui-state-active::after {
  position: absolute;
  bottom: 7px;
  right: 25%;
  width: 52%;
  height: 2px;
  border-radius: 50% 0 0 50%;
  content: '';
  background: #92C9BD18;
}


form .input-box {
  @apply relative mt-5 mb-5 w-full;
}

form .input-box .input-field {
  @apply w-full py-3 px-4 text-base font-normal outline-none transition-all duration-150 border-white border-b-2 bg-slate-900;
}
form .input-box .input-field:focus {
  @apply border-b-2 border-sky-300;
}
form .input-box .placeholder {
  @apply px-2 text-gray-400 bg-transparent font-normal absolute top-4 left-2 origin-bottom-left pointer-events-none transition-all duration-150;
}
form .input-box .input-field:focus + .placeholder {
  @apply text-sky-300;
}
form .input-box .input-field:focus + .placeholder,
form .input-box .input-field.has-value + .placeholder,
form .input-box .text-field:focus + .placeholder,
form .input-box .text-field.has-value + .placeholder {
  @apply scale-75 -translate-y-8;
}



